.dropdown1{
    height: 42px;
    width: 100%;
    .css-2b097c-container{
        width: 100% !important;
    }
    .css-1okebmr-indicatorSeparator{
        background: none !important;
    }
    .css-tlfecz-indicatorContainer{
        background: #76B73E !important;
    }
    .css-tlfecz-indicatorContainer{
        color: #FFFFFF !important;
        height: 100% !important;
    }
}