.googlePlay {
  width: 100%;

  height: 648px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.img {
  height: 100%;
  width: 100%;
}
.title {
  font-size: 36px;
  color: #333333;
}
.description{
    font-size: 16px;
    color: #333333;
}
.blockText{
    position: absolute;
    left: 55%;
    top: 12%;
    height: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    text-overflow: auto;
    overflow: hidden;

}
.btnGoogle{
    position: absolute;
    bottom: 17%;
    right: 15%;
}
.btnGoogle2{
  position: absolute;
  bottom: 17%;
  right: 15%;
  display: none;
}

@media screen and (max-width : 670px) {
.googlePlay{
  height: 285px;
}
.title {
  font-size: 12px;
}
.description{
  font-size: 10px;
  margin-top: 5px;

}
.blockText{

  height: 100px;


}
.btnGoogle{
display: none;
}
.btnGoogle2{
  display: block;
}
}
