.step1 {
  width: 80%;
  height: auto;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
.form {
  width: 100%;
  height: auto;
  padding: 60px;
  background: #ffffff;
}
.blockTitle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockStep {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.err {
  color: red;
  font-size: 11px;
}
.step {
  font-size: 24px;
  line-height: 29px;
  color: #828282;
  cursor: pointer;
}
.step11 {
  font-size: 24px;
  line-height: 29px;
  color: #76b73e;
}
.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #76b73e;
}
.blockInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}
.inputTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.input1 {
  width: 100%;
  height: 42px;
  background: #ffffff;
  margin-top: 10px;
  border: 1px solid #bdbdbd;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  padding-left: 10px;
}
.inputDescrip {
  width: 100%;
  height: 260px;
  margin-top: 10px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  color: #828282;
}
.titleBlock {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text {
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}
.blockDescrip {
  width: 100%;
  min-height: 60px;
  margin-top: 20px;
}
.blockDescrip span {
  font-size: 16px;
  color: #828282;
}
.blockDropdown {
  margin-top: 40px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropdown {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dropdownTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;

  color: #000000;
}
.inputHashtag {
  width: 100%;
  height: 73px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  padding: 10px;
}
.blockBtn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
}
.btn {
  height: 42px;
  width: 45%;
  background: #76b73e;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 1px solid #76b73e;
}
@media only screen and (max-width:1000px){
  .step1 {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 0%;
    margin-right: 0%;
  }

}
@media only screen and (max-width:900px){
  .blockDropdown{
    width: 100%;
    flex-direction: column;
    margin-top: 0px;
  }
  .dropdown{
    width: 100%;
    margin-top: 40px;
  }
}
@media only screen and (max-width:830px){
  .step {
    font-size: 14px;
  }
  .step11 {
    font-size: 14px;
  }
  .title{
    font-size: 16px;
  }
}
@media only screen and (max-width:550px){
  .form{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width:410px){

  .input1, .inputDescrip{
    font-size: 14px;
  }
  .blockStep{
    width: 50%;
  }
  .step {
    font-size: 12px;
  }
  .step11 {
    font-size: 12px;
  }
  .title{
    font-size: 14px;
  }
}


