.order_block{
    margin: 5% 20%;
    padding-bottom: 200px;
}

.order_block_anchor{
    background-color: #BDF58D;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    color: #333333;
}

.order_anchor_text{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    max-width: 270px;
}

.order_anchor_text h3{
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.order_anchor_text p{
    line-height: 17px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.order_anchor_text a{
    color: #fff;
    padding: 10px 20px;
    background: #76B73E;
    font-weight: 700;
    text-align: center;
}

.order_instruct{
    display: flex;
    flex-direction: column;
}

.order_instruct_block{
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.order_instruct .order_instruct_block:nth-child(2n){
    flex-direction: row-reverse;
}

.order_instruct .order_instruct_block:nth-child(2n) img{
    margin-left: 30px;
}

.order_instruct .order_instruct_block:nth-child(2n + 1) img{
    margin-right: 30px;
}

.order_instruct_block + .order_instruct_block{
    margin-top: 100px;
}

.order_instruct_block img{
    width: 35%;
    max-height: 255px;
}

.order_instruct_descrip h2{
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-size: 36px;
}

.order_instruct_descrip p{
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    line-height: 21px;
    text-align: justify;
}

.order_form{
    padding: 60px 65px;
    background-color: #fff;
    margin-top: 90px;
}

.order_form h3{
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: var(--green);
}

.order_form p{
    margin: 30px 0;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #4F4F4F;
}

.order_form form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order_form form > div{
    width: 45%;
}

.form_input_block, .form_textarea_block{
    display: flex;
    flex-direction: column;
}

.form_input_block label, .form_textarea_block label{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form_input_block input{
    border: 1px solid #BDBDBD;
    padding: 10px;
}

.errorString{
    color: red;
}

.form_textarea_block textarea{
    height: 100%;
    border: 1px solid #BDBDBD;
    padding: 10px;
}

.order_form form button{
    margin-top: 50px;
    background: #76B73E;
    width: 100%;
    height: 40px;
    color: #fff;
    border: none;
}