.blockDetail {
  width: 100%;
  min-height: 713px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockDetail1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container {
  padding: 30px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.blockdDescrip {
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockText{
    min-height: 70px;
    padding: 10px 0px;

}
.leftCard {
  width: 49%;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  height: 100%;
}
.rightCard {
  width: 49%;
  min-height: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}
.country{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.blockHeshteg {
  width: 100%;
  height: auto;
  display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

.blockHeshteg div {
  width: auto;
  min-height: 25px;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  font-size: 14px;
  color: #ffffff;
  background: #bdbdbd;
  margin: 2px;
}
.blockImg {
  width: 100%;
  height: 419px;
}
.img {
  width: 100%;
  height: 100%;
}
.title {
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}
.descrip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.descrip span {
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.oldPrice {
  font-size: 18px;
  text-align: right;
  text-decoration-line: line-through;
  color: #4f4f4f;
}
.newPrice {
  font-weight: bold;
  font-size: 24px;
  color: #196c3d;
}
.blockBtn {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.crash {
  width: 45%;
  height: 100%;
  background: #1b8e3d;
  border: 1px solid #1b8e3d;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}
.demo {
  width: 45%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #1b8e3d;
  font-weight: bold;
  font-size: 18px;
  color: #1b8e3d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.demo1 {
  width: 45%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #1b8e3d;
  font-weight: bold;
  font-size: 18px;
  color: #1b8e3d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.topBlock{
  padding: 0px 30px 10px 30px;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  background: #FFFFFF;
}
.blockDate{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #BDBDBD;
}
.container1{
  display: none;
}
.blockDesc{
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.textAuthor{
  font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #1B8E3D;
}
.textDate{
  font-weight: 500;
font-size: 10px;
line-height: 12px;
color: #4F4F4F;
}
.blockName1{
  width: 70%;
  height: 100%;
}
.blockName1 span{
  font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #000000;
}
.buttomBlockH{
  width: 100%;
  height: 25px;
  overflow-y: hidden;
  margin-top: 10px;
}
.blockChange{
  width: 100%;
  height: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #E0E0E0;
}
.blBtn{
  width: 140px;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blPrice{
  width: 50%;
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width:1000px){
  .blockDetail{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .blockDetail1{
    flex-direction: column;
    justify-content: space-between;
  }
  .leftCard,.rightCard{
    width: 100%;
  }
  .rightCard{
  margin-top: 40px;
  }

}
@media only screen and (max-width:600px){
  .rightCard,.leftCard{
    height: auto;
  }
}
@media only screen and (max-width:500px){
.container{
  display: none;
}
.container1{
  display: block;
}
.descrip span{
  font-size: 10px;
  line-height: 12px;

  
  color: #333333;


}
.descrip{
  justify-content: flex-start;
  align-items: flex-start;
}
.blockHeshteg div{
  font-size: 12px;
}
.blockImg {

  height: 260px;
}

.crash {
  width: 100%;
  height: 28px;
  font-size: 12px;

}
.demo, .demo1 {
  width: 100%;
  height: 28px;
border: 1px solid #E0E0E0;
  font-size: 12px;

}
.oldPrice {
  font-size: 12px;

}
.newPrice {

  font-size: 16px;

}
}
