.analytic {
  width: 80%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.blockAnalytic{
    width: 100%;
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blockImg {
  width: auto;
  height: 100%;
  position: relative;
}
.images {
  position: absolute;
  left: -38px;
}
.title {
  font-size: 36px;
  color: #333333;
}
.description {
  font-size: 16px;
  color: #333333;
}
.content{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
