.cards {
  width: 100%;
  height: auto;
  display: flex;

  overflow-y: none;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  padding-right: 20px;
  padding-left: 20px;
}
.link {
  width: 30%;
  height: 100%;
  margin: 15px;
}
.img {
  width: 100%;
  height: 100%;
}
.blockImg {
  width: 100%;
  height: 218px;
}
.content {
  height: 352px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textButtom {
  width: 100%;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.textLeft {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.textRight {
  max-width: 50%;
  text-overflow: auto;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.textLeft,
.textRight span {
  font-size: 14px;
  color: #828282;
}
.title {
  font-size: 24px;
  color: #000000;
}
.description {
  font-size: 16px;
  color: #333333;
}
.blockDescrip {
  border-left: 3px solid #bdf58d;
  padding-left: 10px;
  height: 140px;
  text-overflow: auto;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .link {
 
    margin: 0px;
  width: 300px;
  }
  .title {
    font-size: 16px;
  }
  .description {
    font-size: 12px;
  }
  .card {
    height: 100%;
    width: 100%;
  }
  .cards{
    overflow-x: auto;
  }
  .blockImg {
    height: 140px;
  }

  .cards > a + a + a {
    margin: 0px 15px;
  }
  .cards > a + a {
    margin-left: 15px;
  }
}
@media only screen and (max-width:768px){
  .link{
    width: 230px;
  }
  .blockImg{
    height: 140px;
  }
  .blockDescrip{
    height: 120px;
  }
  .blockTitleCard{
    height: 40px;
    width: 100%;
    text-overflow: auto;
    overflow: hidden;
  }
  .content{
    height: 234px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .description{
    font-size: 12px;
  }
}
