.blockDetail {
  width: 100%;
  height: 638px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}
.blockDetail1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}
.container {
  padding: 30px;
  height: 338px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.blockdDescrip {
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockText {
  height: 70px;
  text-overflow: auto;
  overflow: hidden;
}
.leftCard {
  width: 49%;
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  height: 100%;
}
.rightCard {
  width: 49%;
  height: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}
.blockHeshteg {
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.blockHeshteg div {
  width: auto;
  height: 100%;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  font-size: 14px;
  color: #ffffff;
  background: #bdbdbd;
  margin-left: 5px;
}
.blockDate{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #BDBDBD;
}
.blockImg {
  width: 100%;
  height: 300px;
}
.topBlock{
  padding: 0px 30px 10px 30px;
  display: flex;
  height: 147px;
  width: 100%;
  flex-direction: column;
  background: #FFFFFF;
}
.img {
  width: 100%;
  height: 100%;
}
.title {
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}
.descrip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.descrip span {
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.oldPrice {
  font-size: 18px;
  text-align: right;
  text-decoration-line: line-through;
  color: #4f4f4f;
}
.newPrice {
  font-weight: bold;
  font-size: 24px;
  color: #196c3d;
}
.blockBtn {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.crash {
  width: 45%;
  height: 100%;
  background: #1b8e3d;
  border: 1px solid #1b8e3d;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}
.demo {
  width: 45%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #1b8e3d;
  font-weight: bold;
  font-size: 18px;
  color: #1b8e3d;
}
.statistic {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
  height: 219px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
.input {
  width: 190px;
  height: auto;
}
.title {
  font-weight: 600;
  font-size: 24px;
  color: #1b8e3d;
}
.blockTitle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.buttomBlock {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.column {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.column_title {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.column_data {
  font-weight: 600;
  font-size: 24px;
  color: #76b73e;
  margin-top: 5px;
}


.container1{
  display: none;
}
.blockDesc{
  width: 100%;
  height: 68px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.textAuthor{
  font-weight: 500;
font-size: 10px;
line-height: 12px;

color: #1B8E3D;
}
.textDate{
  font-weight: 500;
font-size: 10px;
line-height: 12px;
color: #4F4F4F;
}
.blockName1{
  width: 50%;
  height: 100%;
}
.blockName1 span{
  font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #000000;
}
.buttomBlockH{
  width: 100%;
  height: 25px;
  overflow-y: hidden;
  margin-top: 10px;
}
.blockChange{
  width: 100%;
  height: auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #E0E0E0;
}
@media only screen and (max-width:1000px){
  .container1{
    display: block;
  }
  .container{
    display: none;
  }
  .blockDetail{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .blockDetail1{
    flex-direction: column;
    justify-content: space-between;
  }
  .leftCard,.rightCard{
    width: 100%;
  }
  .rightCard{
  margin-top: 40px;
  }
  .blockBtn{
    width: 200px;
  }
  .demo{
    width: 100%;
  }
  .descrip span {
    font-size: 10px;
    line-height: 150%;
    color: #000000;
  }
  .statistic{
    width: 100%;
  }
}
@media only screen and (max-width:500px){
  .statistic{
    height: 300px;
  }
  .blockTitle {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .blockImg {

    height: 260px;
  }
  .input{
    width: 100%;
  }
  .column_title{
    font-size: 10px;
  }
  .column_data{
    font-size: 24px;
  }
}




