.aboutPage {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 188px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
}
.blockCrumbs {
  width: auto;
  height: auto;
  margin-top: 50px;
}
.topBlock {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.blockDescrip {
  width: 100%;
  height: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.blockDescrip span {
  text-align: center;
  font-size: 18px;

  color: #333333;
}
.title {
  font-size: 48px;
  color: #333333;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.block1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 363px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 147px;
}
.text1 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-overflow: auto;
  overflow: hidden;
}
.text1 span {
  font-size: 18px;
  color: #333333;
  margin-top: 15px;
}
.blockTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
