.blockAbout{
    height: 450px;
    margin-top: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blockTitle{
    max-height: 50%;
    overflow: hidden;
    width: 100%;
}
.titleV{
    display: none;
    font-size: 36px;
    color: #333333;
    margin-bottom: 20px;
}
.blockImg{
    width: 47%;
    height: 100%;
    position: relative;
}
.mainImg{
width: 100%;
height: 100%;
object-fit: cover;
}
.content{
width: 47%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
text-overflow: auto;
overflow: hidden;
}
.blockDescr{
    width: 100%;
    min-height: 70%;
    max-height: 70%;
    overflow: hidden;
}
.title{
    font-size: 36px;
color: #333333;
}
.text{
    font-size: 16px;
color: #333333;
}
@media screen and (max-width: 908px) {
.text{
    font-size: 14px;
}
.blockAbout{
    height: 300px;
}
}
@media screen and (max-width: 768px) {
    .blockAbout{
        height: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blockImg{
        width: 100%;
        height: 450px;
    }
    .content{
        width: 100%;
        height:450px;
        margin-left: 0px;
    }
    .blockTitle{
        display: none;
    }
    .titleV{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .blockDescr{
        margin-top: 50px;
    }
    }
    @media only screen and (max-width:550px){
        .blockAbout{
            margin-top: 40px;
        }
    }