.blockWrapp {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.headerItem {
  width: 100%;
  height: 50%;
  background: #ffffff;
  padding-left: 250px;
  padding-right: 28px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.bloc {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}
.topItem {
  height: 100px;
  width: 100%;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(89.32deg, #76B73E 0%, #FFFFFF 99.7%);
}
.photo {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  top: 50px;
  left: 60px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img{
  width: 100%;
}

.leftBlock {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.desc {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-top: 10px;
}
.centerBlock {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.titleNumber {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.redact {
  font-size: 14px;
  line-height: 17px;
  color: var(--green);
  cursor: pointer;
}

@media screen and (max-width: 850px){
  .bloc {
    flex-direction: column;
    min-height: 180px;
  }
  .headerItem {
    height: auto;
  }
  .topItem {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 570px){
  .headerItem {
    padding-left: 150px;
  }
  .photo {
    left: 20px;
  }
}

@media screen and (max-width: 460px){
  .title {
    font-size: 18px;
  }
  .titleNumber {
    font-size: 15px;
  }
  .headerItem {
    padding-left: 20px;
    padding-top: 50px;
  }
}