.blockWrapp {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.headerItem {
  width: 100%;
  height: 125px;
  background: #ffffff;
  padding-left: 250px;
  padding-right: 28px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.bloc {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}
.logo1{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: none;
}
.topItem {
  height: 125px;
  width: 100%;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: none;
}
.photo {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.leftBlock {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.desc {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}
.centerBlock {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.titleNumber {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.redact {
  font-size: 14px;
  line-height: 17px;
  color: #2f80ed;
  cursor: pointer;
}
.rightBlock1{
  display: none;
}

@media only screen and (max-width:1000px){
  .rightBlock{
    display: none;
  }
  .rightBlock1{
    display: block;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .blockWrapp{
    height: auto;
  }
  .headerItem{
    height: auto;
  }
  .bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .leftBlock, .centerBlock{
    margin-top: 100px;
  }
.headerItem{
  padding-left: 28px;
}
.centerBlock{
  margin-left: auto;
}
}
@media only screen and (max-width:570px){
  .centerBlock{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .leftBlock{
    margin-left: auto;
    margin-right: auto;
  }
}
