.analytic {
  width: 80%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.blockAnalytic{
    width: 100%;
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blockImg {
  width: 58%;
  height: 100%;
  position: relative;
}
.images {
  height: 100%;
  width: 100%;
}
.title {
  font-size: 36px;
  color: #333333;
}
.titleV{
  display: none;
  font-size: 36px;
  color: #333333;
  margin-bottom: 20px;
}
.description {
  font-size: 16px;
  color: #333333;
  margin-top: 50px;
}
.content{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-overflow: auto;
    overflow: hidden;

}
@media screen and (max-width: 1200px) {
  .description{
      font-size: 14px;
  }
  }
  @media screen and (max-width: 768px) {
      .analytic{
          height: 700px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;
      }
      .blockAnalytic{
        height: 800px;
      }
      .blockImg{
          width: 100%;
          height: 200px;
      }
      .content{
          width: 100%;
          height:450px;
          margin-left: 0px;
      }
      .title{
          display: none;
      }
      .titleV{
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
      }
