.analitic_container{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.analitic_way{
    color: #333;
    margin-top: 50px;
    font-size: 14px;
 
}

.analitic_container h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 48px;
    margin-top: 20px;
}

.analitic_content{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.analitic_card{
    width: 350px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    cursor: pointer;
    max-height: 595px;
    overflow: hidden;
}

.analitic_card img{
    width: 100%;
    height: 245px;
}

.card_info{
    margin: 30px;
}

.card_date{
    color: var(--green);
}

.card_title{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
}

.card_info p{
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    display: inline-block;
    /* height: 178px; */
    overflow: hidden;
    margin-bottom: 10px;
}