.header{
    height: 65px;
    display: flex;
    align-items: center;
    color: #000;
    padding: 0px 10%;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: #fff;
}

.navbar{
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 13px;
    max-width: 900px;
}


.navbar a{
    color: #000;
}

.navbar span{
    margin-right: 15px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    line-height: 30px;
    padding: 5px 10px;
    margin-top: 5px;
}


.navbar span:hover{
    background-color: var(--green);
    color: #fff;
}
.local_basket{
    margin-left: auto;
    display: flex;
    min-width: 133px;
    align-items: center;
}

.basket{
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.basket_icon{
    position: relative;
}

.localiz{
    width: 90px;
    font-size: 14px;
}

.basket_amount{
    position: absolute;
    top: -8px;
    right: -8px;
    height: 17px;
    width: 17px;
    font-size: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--green);
}

.vertical_line{
    background-color: #BDBDBD;
    width: 2px;
    height: 80px;
    margin-left: 30px;
    margin-right: 40px;
}

.regisration {
    display: flex;
    flex-direction: column;
    align-content: flex-start
}

.Lk{
    padding: 5px 30px;
    background-color: var(--green);
    border: none;
    color: #fff;
    width: 100%;
    font-weight: 700;
    display: block;
}


.logout{
    display: block;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    color: #BDBDBD;
}

.regisrationBtn{
    border: none;
    background-color: #fff;
    color: #828282;
    margin-top: 5px;
    width: 100%;
}

.regisrationBtn:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1200px){
    .header{
        padding: 0 5%;
    }
}

@media screen and (max-width: 1070px)
{
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
        background: #fff;
        z-index: 10;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        transition: ease-out 0.3s;
        transform: translateX(100%);
        font-size: 20px;
        padding-left: 50px;
        padding-top: 100px;
    }

    .navbar a{
        transition: ease-out 0.3s;
    }

    .navbar a:hover{
        background-color: var(--green);
        color: #fff;
    }

    .navbar span{
        line-height: 60px;
    }

    .navbar_active{
        transform: translateX(0);
    }

    .menuBtn{
        width: 44px;
        height: 44px;
        margin-left: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 10;
    }

    .menuBtn_active .burger{
        background-color: #cacaca;
    }

    .menuBtn_active .burger:nth-child(1){
        width: 15px;
        transform: translateY(5px) translateX(8px) rotate(40deg);
    }

    .menuBtn_active .burger:nth-child(3){
        width: 15px;
        transform: translateY(-5px) translateX(8px) rotate(-40deg);
    }

    .burger{
        width: 30px;
        height: 3px;
        background-color: var(--green);
        transition: ease-in 0.3s;
    }

    .menuBtn .burger:nth-child(1){
        margin-bottom: 6px;
    }

    .menuBtn .burger:nth-child(3){
        margin-top: 6px;
    }
    .regisration{
        position: absolute;
        z-index: 10;
        top: 20px;
        left: 50px;
        transform: translateX(-200%);
        transition: ease-out 0.3s;
    }

    .basket{
        margin: 0 25px;
    }

    .regisration_active{
        transform: translateX(0);
    }
}

@media screen and (max-width: 670px){
    
    .header{
        padding: 0 5%;
    }
    .menuBtn{
        margin-left: 0.5em;
    }
}