.hashtag{
    width: 100%;
    min-height: 76px;
    .css-2b097c-container{
        width: 100% !important;
        height: 100%;
    }
    .css-yk16xz-control{
        padding: 10px !important;
    }
}