.step1 {
  width: 100%;
  height: auto;
}
.form {
  width: 100%;
  height: auto;
  padding: 60px;
  background: #ffffff;
}
.blockTitle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockStep {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.step {
  font-size: 24px;
  line-height: 29px;
  color: #828282;
  cursor: pointer;
}
.step11 {
  font-size: 24px;
  line-height: 29px;
  color: #76b73e;
}
.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #76b73e;
}
.topBlock {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.topBlockTitle{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.topBlockDesc{
  font-size: 16px;
  line-height: 22px;
  color: #828282;
}
.blockFiles {
  margin-top: 20px;
}
.files {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.addInput{
  width: 20%;
  height: 42px;
  background: #76b73e;
  border: 1px solid #76b73e;
  color: #ffffff;
  font-size: 40px;
  margin-left: 40%;
  margin-right: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.deleteInput{
  height: 100%;
  width: 20px;
  background: rgb(243, 4, 52);
  border: 1px solid rgb(243, 4, 52);
  color: #ffffff;

}
.pdf1{
  width: 100%;
  height: auto;
}
.krest {
  margin-left: auto;
  cursor: pointer;
}
.fileName {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-left: 20px;
}
.addFiles {
  width: 50%;
  height: 42px;
  background: #ffffff;
  border: 1px solid #828282;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.blockBtn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inputNumberPage {
  background: #ffffff;
  height: 42px;
  width: 45%;
  border: 1px solid #bdbdbd;
  margin-top: 10px;
  padding: 10px;
}
.titleContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.leftBlock {
  width: 5%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.centerBlock {
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rightBlock {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contentTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
.contentTitle1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
.contentTitleNone{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: none;
  color: #000000;
}
.rowInputs {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.number {
  width: 5%;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.centerInput {
  width: 65%;
  height: 100%;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
}
.rightInput {
  width: 20%;
  height: 100%;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
}
.blockBtn1 {
  width: 100%;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 40px;
}

.btn {
  width: 50%;
  height: 100%;
  background: #76b73e;
  border: 1px solid #76b73e;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.inputFile{
  display: none;
}
.err {
  color: red;
  font-size: 11px;
}
@media only screen and (max-width:830px){
  .step {
    font-size: 14px;
  }
  .step11 {
    font-size: 14px;
  }
  .title{
    font-size: 16px;
  }
}
@media only screen and (max-width:630px){
.addFiles{
  width: 100%;
}
.inputNumberPage{
  width: 100%;
}
}
@media only screen and (max-width:550px){
  .form{
    padding-left: 20px;
    padding-right: 20px;
  }
  .blockStep{
    width: 60%;
  }
  .step {
    font-size: 12px;
  }
  .step11 {
    font-size: 12px;
  }
}
@media only screen and (max-width:410px){

  .topBlockTitle, .topBlockDesc{
    font-size: 14px;
  }
  .addInput{
    font-size: 12px;
  }
   .blockStep{
    width: 50%;
  }
  .fileName{
    font-size: 10px;
  }
  .contentTitle1{
    display: none;
  }
  .title{
    font-size: 14px;
  }
  .contentTitleNone, .contentTitle{
    display: block;
    font-size: 14px;
  }
}

