.orderCard {
  width: 100%;
  height: 159px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(145, 76, 37, 0.15);
}
.content{
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}
.blockPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.btn {
  flex: 1;
  height: 100%;
  background: brown;
}
.titlePrice {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.price {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #333333;
}
.btn {
  background: #76b73e;
  border: 1px solid #76b73e ;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 0px !important;
}
.checkbox {
  width: 100px;
  height: 42px;
  background: #ffffff;
  border: 2px solid #bdbdbd;
  box-sizing: border-box;
  margin-right: 10px;
}
.blockChecket{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}
