footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 10%;
}

footer > div{
    display: flex;
    flex-direction: column;
}

.footer_title{
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}

.footer_title::after{
    content: '';
    position: absolute;
    left: 0;
    width: 160px;
    height: 2px;
    background-color: #BDBDBD;
    bottom: -10px;
}

footer > div a{
    margin-bottom: 8px;
    color: #000;
}

.quest{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.socialIcons{
    margin-top: 20px;
    width: 220px;
    display: flex;
    justify-content: space-between;
}