footer{
    display: flex;
    padding-left: 10%;
    padding-top: 50px;
}

footer > div{
    display: flex;
    flex-direction: column;
    margin-left: 125px;
}

footer > div span:nth-child(1){
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
}

footer > div span:nth-child(1)::after{
    content: '';
    position: absolute;
    left: 0;
    width: 160px;
    height: 2px;
    background-color: #BDBDBD;
    bottom: -10px;
}

footer > div span{
    margin-bottom: 8px;
}

.quest{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.socialIcons{
    margin-top: 20px;
    width: 220px;
    display: flex;
    justify-content: space-between;
}