.tabs {
  width: 80%;
  height: 366px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
}
.blockIsledov {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.title {
  font-size: 36px;
  color: #333333;

}
