.container {
  padding: 50px 16% 200px 16%;

  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 48px;

  color: #333333;

}
.links{
    margin-bottom: 20px;
}
.titleQuestion{
    font-weight: 600;
    font-size: 48px;

    color: #333333;
}
.blockTitle{
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}
.questionBlock{
    width: 100%;
    height: auto;
    padding: 60px;
    background: #FFFFFF;
}
@media only screen and (max-width:1000px){
  .title{
    font-size: 24px;
  }
  .titleQuestion{
    display: none;
  }
  .questionBlock{
    padding: 30px 20px;
  }
}
@media only screen and (max-width:500px){
  .container{
    padding: 50px 5% 200px 5%;
  }
}