.container {
  padding: 50px 16% 200px 16%;

  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #333333;

}
.links{
    margin-bottom: 20px;
}
.titleQuestion{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}
.blockTitle{
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}
