.content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.content h2{
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #333333;
}

.market_cards{
    margin-top: 30px;
}