.blockFilter {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 164px;
  padding: 30px;
  background: #ffffff;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs {
  width: 24%;
  height: 42px;
}
.blockRow {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputSearch {
  width: 36%;
  height: 42px;
  outline: none;
  background-image: url(./img/lupa.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-position: 10px;
  padding-left: 55px;
  font-size: 14px;
  border: 1px solid #828282;
}
.inputSearchNone{
  width: 36%;
  height: 42px;
  outline: none;
  background-image: url(./img/lupa.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-position: 10px;
  padding-left: 55px;
  font-size: 14px;
  border: 1px solid #828282;
}
.btn {
  width: 100%;
  height: 100%;
  background: #1b8e3d;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 1px solid #1b8e3d;
}

.btnSort {
  width: 24%;
  height: 42px;
  background: #FFFFFF;
  
  border: 1px solid #BDBDBD;

  font-size: 14px;
  line-height: 17px;
  color: #828282;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.btnSort1 {
  width: 24%;
  height: 42px;
  background: #76B73E;
  
  border: 1px solid #76B73E;

  font-size: 14px;
  line-height: 17px;
  color: #828282;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.linkBtn,.btnNone{
  width: 12%;
  height: 42px;
  background: #1b8e3d;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 1px solid #1b8e3d;
}
.blockRow11{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockRow1{
display: none;
}
@media screen and (max-width: 1100px) {
  .blockFilter{
    height: auto;

  }
  .blockRow,.blockRow11{
    width: 100%;
    height: 110px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
  }
  .inputs{
    min-width: 48.5%;
  }
  .inputSearch,.inputSearchNone{
    width: 48.5%;
  }
  .linkBtn,.btnNone{
    width: 48.5%;
  }
  .btnSort{
    width: 48.5%;
  }
  .btnSort1{
    width: 48.5px;
  }

}

@media screen and (max-width: 650px) {
  .blockRow{
  height: 210px;
  }
  .inputs{
    width: 100%;
  }
  .inputSearch{
    width: 100%;
  }
  .inputSearchNone{
    display: none;
  }
  .inputSearch1 {
    width: 100%;
    height: 42px;
    outline: none;
    background-image: url(./img/lupa.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-position: 10px;
    padding-left: 55px;
    font-size: 14px;
    border: 1px solid #828282;
  }
  .btn1 {
    width: 100%;
    height: 100%;
    background: #1b8e3d;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    border: 1px solid #1b8e3d;
  }
.linkBtn1{
  width: 100%;
  height: 42px;
  background: #1b8e3d;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 1px solid #1b8e3d;
}  .blockRow1{
  width: 100%;
  height: 140px;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}
.blockRow11{
  width: 100%;
  height: 140px;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}
  .btnSort{
    width: 48.5%;
    font-size: 10px;
  }
  .btnSort1{
    width: 48.5%;
    font-size: 10px;
  }
  .btnNone{
    display: none;
  }
}