* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  --green:#76B73E;
}

.container_wrapper{
  padding-top: 100px;
  background-color: #E5E5E5;
}

input, button{
  outline: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #828282;
  cursor: pointer;
}

