* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  --green:#27AE60;
}

input, button{
  outline: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #828282;
  cursor: pointer;
}

