.blockInputs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categories{
    width: 39.5%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #333333;
    padding-left: 20px;
    font-size: 14px;
}
.search{
    width: 59.5%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    outline:none;
    background-image: url(./img/lupa.png);   
    background-repeat: no-repeat; 
    background-position:   left center;
    background-position: 10px;
    padding-left: 55px;
    font-size: 14px;
    color: #828282;
}