.registration {
  width: 100%;
  height: 700px;
  background: #e5e5e5;
  padding-top: 60px;
}
.blockRegist {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  height: 414px;

  background: #ffffff;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.canceling {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.img {
  padding: 10px;
}
.blockTitle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 24px;
  color: #333333;
  margin-right: 10px;
  font-weight: bold;
}
.step {
  font-size: 18px;
  color: #76b73e;
}
.blockBtn {
  height: 112px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn {
  width: 100%;
  height: 42px;
  border: 1px solid #76b73e;
  background: #ffffff;
  font-size: 18px;
  color: #76b73e;
}
.btn:hover{
    background: #1B8E3D;
    color: #FFFFFF;
}
.btnCancel {
  width: 100%;
  height: 42px;
  background: #ffffff;
  border: 1px solid #828282;
  font-size: 18px;
  color: #828282;
}
.btnCancel:hover{
    background: #828282;
    color: #ffffff;
}
.blockTop{
    width: 100%;

}
.linkCancel{
    width: 90%;
    height: 42px;
}
@media only screen and (max-width:1000px){
  .blockRegist{
  width: 50%;
  }
}
@media only screen and (max-width:800px){
  .blockRegist{
  width: 80%;
  }
}
@media only screen and (max-width:500px){
  .blockRegist{
    width: 100%;
    }
}
